html {
    height: 1200px;
}

body {
    body {
        background-color: rgb(255, 255, 255);
        background-image: url(images/background-adare-restaurant.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}


.container {
    
}

header {
    
}

nav {
   
}

main {
   
}

footer {
 
}

h1 {
    
}

p {
    

}

a {
    
}

nav a {
    
}

footer p {

}
    